@import "tailwindcss";
@plugin "daisyui";

@plugin "daisyui/theme" {
  name: "light";
  default: true;
  color-scheme: light;
}

@plugin "daisyui/theme" {
  name: "dark";
  default: false;
  color-scheme: dark;
}

@plugin "daisyui/theme" {
  name: "darker";
  default: false;
  prefersdark: false;
  color-scheme: "dark";
  --color-base-100: oklch(21% 0.034 264.665);
  --color-base-200: oklch(27% 0.033 256.848);
  --color-base-300: oklch(37% 0.034 259.733);
  --color-base-content: oklch(96% 0.007 247.896);
  --color-primary: oklch(54% 0.245 262.881);
  --color-primary-content: oklch(97% 0.014 254.604);
  --color-secondary: oklch(60% 0.25 292.717);
  --color-secondary-content: oklch(97% 0.014 343.198);
  --color-accent: oklch(52% 0.105 223.128);
  --color-accent-content: oklch(98% 0.018 155.826);
  --color-neutral: oklch(27% 0.033 256.848);
  --color-neutral-content: oklch(98% 0.002 247.839);
  --color-info: oklch(50% 0.134 242.749);
  --color-info-content: oklch(97% 0.013 236.62);
  --color-success: oklch(59% 0.145 163.225);
  --color-success-content: oklch(97% 0.021 166.113);
  --color-warning: oklch(68% 0.162 75.834);
  --color-warning-content: oklch(98% 0.016 73.684);
  --color-error: oklch(58% 0.253 17.585);
  --color-error-content: oklch(97% 0.014 343.198);
  --radius-selector: 2rem;
  --radius-field: 0.5rem;
  --radius-box: 1rem;
  --size-selector: 0.25rem;
  --size-field: 0.21875rem;
  --border: 1px;
  --depth: 1;
  --noise: 1;
}
